* {
    font-family: 'Hind Siliguri', sans-serif;
}

html {
    background: url('../img/surf.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    color: white;
}

.btn {
    color: white;
    height: 50px;
    background-color: #404040;
    border-radius: 4px;
}

.active.pressed {
    transform: scale(1.1) !important;
}

#front-page {
    display: flex;
    flex-direction: column;
    transition: all .5s;
    z-index: 10000;
}

#front-page h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 20%;
    font-weight: 700;
}

#menu {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    transform: translateX(0px);
    transition: all .5s;
}

.menu-item.active {
    transform: scale(1.2) translateY(-3px);
}

.menu-item {
    width: 150px;
    text-align: center;
    transition: all .3s;
}

.menu-item.active > .title {
    color: #CCCCCC;
}

.menu-item.active > .btn {
    background-color: white;
    color: #404040;
}

.menu-item:not(.active) > .title {
    color: transparent;
}

.menu-item > .btn {
    font-size: 24px;
    margin-top: 10px;
    width: 100px;
}

#video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s;
}

.floating-btn {
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    font-size: 24px;
    background-color: white;
    z-index: 0;
    color: #404040;
    right: 50%;
    margin-right: -50px;
    bottom: 10%;
    height: 50px;
    width: 100px;
    transform: scale(1.2);
    transition: all .3s;
}

.floating-btn.left {
    transform: translateX(-100px);
}

.floating-btn.right {
    transform: translateX(100px);
}

.floating-btn.glyphicon {
  top: auto;
}

.no-show {
  opacity: 0;
}

.loading {
    opacity: 1;
/*  margin-top: 20px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.3;*/
}
/*@-webkit-keyframes pulsate {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.3;
    }
}*/


/* gooey loader */
.loader {
  -webkit-filter: url("#goo");
          filter: url("#goo");
  position: relative;
  width: 500px;
  height: 120px;
  transition: opacity 0.3s;
  transform: scale(0.3);
  margin-top: -20px;
}
.loader::after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  left: 220px;
  -webkit-animation: scale 2.5s ease-in-out infinite;
          animation: scale 2.5s ease-in-out infinite;
}
.loader div {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  top: 45px;
  left: 235px;
  -webkit-animation: move 2.5s ease-in-out infinite alternate;
          animation: move 2.5s ease-in-out infinite alternate;
}
.loader div::after, .loader div::before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
}
.loader div::before {
  left: -75px;
}
.loader div::after {
  left: 75px;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}
@-webkit-keyframes scale {
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale {
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*html, body {
  background: #247fbc;
  width: 100%;
  height: 100%;
}*/

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

svg {
  position: absolute;
  z-index: -100;
  pointer-events: none;
}